@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

@media (max-aspect-ratio: 7/10){

    .join-container{
        width:40vmax;
        height:70vmax;
        top:45%;
    }

    .logo{
        height: 27vmax;
        width:29vmax;
    }

    .join-container>input{
        font-size: 1.3rem;
        height: 3rem;
        width: 18rem;
    }

    .login-button{
        font-size: 1.3rem;
        width:7rem;
        height: 3.5rem;
    }

    .chat-container{
        width:100%;
        height:100%;
        border-radius: 0;
    }

    .header{
        height:12%;
        border-radius: 0;
    }

    .chat-logo{
        height:1.7rem;
        width:6.2rem;
    }

    .close-button{
        height:1.6rem;
        width:1.6rem;
    }

    .message-display-box{
        height: 78%;
        padding:0 0.2rem 0 0.2rem;
        border: none;
    }

    .message-send-button{
        width:22%;
        border-radius: 0;
    }

    .send-icon{
        height:38%;
        height:38%;
    }

    .message-input-box{
        font-size: 1.5rem;
        width:70%;
        padding: 10px;
        border-radius: 0;
    }

    .message{
        font-size: 20px;
        margin: 11px 12px 0 12px;
    }

    .message-send-box{
        height:10%;
    }


}